//colors
$clr-primary-400: hsl(185, 75%, 39%);
$clr-primary-900: hsl(229, 23%, 23%);
$clr-primary-100: hsl(227, 10%, 46%);
$clr-neutral-400: hsl(0, 0%, 59%);
//font-families
$ff-sans: "Kumbh Sans", sans-serif;
//font-sizes
$fs-900: 3.75rem; // 60px
$fs-800: 3rem; // 48px
$fs-600: 1.5rem; // 24px
$fs-500: 1.3125rem; // 21px
$fs-400: 1.125rem; // 18px
//font-weights
$fw-400: 400;
$fw-700: 700;
