@import "./resets";
@import "./variables";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $clr-primary-400;
  font-family: $ff-sans;
  font-size: $fs-400;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-position: top -30rem left -20rem, bottom -30rem right -20rem;
  background-size: contain;
  background-repeat: no-repeat;
}

h1,
h2 {
  font-weight: $fw-700;
  color: $clr-primary-900;
}

p {
  font-weight: $fw-400;
  font-size: 0.85rem;
  color: $clr-neutral-400;
}

img {
  width: 100%;
}

.card {
  width: 22rem;
  margin-inline: auto;
  text-align: center;
  background-color: white;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  &__top {
    margin: 0;
  }
  &__middle {
    position: relative;
    bottom: 4rem;
    width: 7rem;
    margin: 0 auto;
    & > picture > img {
      border-radius: 50%;
    }
    // border-radius: 25%;
  }
  &__bottom {
    margin: -3rem 0px 2rem;

    &--title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      & > h1 {
        padding-right: 0.75rem;
      }
      & > p {
        font-size: $fs-500;
        color: $clr-neutral-400;
      }
    }

    &--subtitle {
      color: $clr-neutral-400;
    }
    &--stats {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 3rem 2rem 3rem;
      border-top: 1px solid #e8e9ec;
    }
  }
}
